ion-back-button {
  --icon-font-size: 20px;
  --icon-margin-start: 5px;
}

ion-title {
  font-size: 14px;
}

.container {
  padding: 20px 20px;
}

// Picture row and columns

ion-grid.profile,
ion-grid.health {
  margin-bottom: 20px;
}

.profile ion-col,
.health ion-col {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}

.profile ion-col#picture {
  align-items: center;
  background-color: #f7f9fa;
  border-radius: 5px;
}

.profile ion-button {
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #acacac;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  width: 100%;
}

// Image and name section

.profile #picture img {
  height: 50px;
  width: 50px;
}

.profile #name h2,
.health #weight h2,
.health #goal h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

// Health

.health ion-col {
  align-items: center;
  background-color: #f7f9fa;
  border-radius: 5px;
}

.health ion-label {
  font-size: 14px;
  font-weight: 600;
}

.health ion-button {
  color: #4f84e8;
  font-size: 14px;
  font-weight: 600;
}

.health h2 {
  color: #acacac;
}

.signout ion-button {
  background-color: #4f84e8;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  width: 100%;
}
