<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="intro"
        text=""
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <h1>
        Create an account <br />
        to get started
      </h1>

      <!-- User's name input -->
      <ion-text color="danger">
        <p [hidden]="name || submitted == false">Name is required</p>
      </ion-text>
      <ion-input
        placeholder="Name"
        [(ngModel)]="name"
        name="name"
        type="text"
        autocapitalize="on"
        required
      ></ion-input>

      <!-- User's username input -->
      <ion-text color="danger">
        <p [hidden]="username || submitted == false">Username is required</p>
      </ion-text>
      <ion-input
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        type="text"
        autocapitalize="off"
        required
      >
      </ion-input>

      <!-- User's password input -->
      <ion-text color="danger">
        <p [hidden]="password || submitted == false">Password is required</p>
      </ion-text>
      <ion-input
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        type="password"
        autocapitalize="off"
        required
      ></ion-input>

      <!-- User's confirm password input -->
      <ion-text color="danger">
        <p [hidden]="cpassword || submitted == false">
          Confirm password is required
        </p>
      </ion-text>
      <ion-input
        placeholder="Confirm password"
        [(ngModel)]="cpassword"
        name="cpassword"
        type="password"
        autocapitalize="off"
        required
      >
      </ion-input>
    </ion-list>

    <div id="btn">
      <ion-button
        (click)="createAccount(loginForm)"
        [disabled]
        type="submit"
        fill="clear"
        expand="block"
        >Create Account
      </ion-button>
    </div>
  </form>
</ion-content>
