<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="profile()">
        <img src="../../assets/images/{{displayPicture}}" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div id="header">
      <p class="ion-no-margin">{{day}}</p>
      <h1 class="ion-no-margin">Hi, {{name}}</h1>
    </div>
    <!-- User BMI indicator -->
    <ion-grid class="bmi">
      <ion-row class="ion-align-items-center">
        <ion-col id="bmi-value" size="3">
          <h1 class="ion-no-margin">{{bmi}}</h1>
        </ion-col>
        <ion-col id="bmi-message" class="ion-padding-start">
          <h2 class="ion-no-margin">BMI Score</h2>
          <p class="ion-no-margin">{{bmiMessage}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- User calorie progress bar -->
    <div id="pb">
      <ion-item class="ion-no-margin ion-no-padding" lines="none">
        <p>In Progress: <span>365 kcals remaining</span></p>
      </ion-item>
      <ion-progress-bar color="primary" value="0.25"></ion-progress-bar>
    </div>

    <!-- Calorie summary -->
    <ion-grid class="sum">
      <p>Summary</p>
      <ion-row class="ion-align-items-center">
        <ion-col id="sum-eaten">
          <h1 class="ion-no-margin">1284</h1>
          <p class="ion-no-margin">Kcal eaten</p>
        </ion-col>
        <ion-col id="sum-burned" class="ion-margin-start">
          <span><h1 class="ion-no-margin">892</h1></span>
          <p class="ion-no-margin">Kcal burned</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Meals today -->
    <ion-grid class="meals">
      <ion-item class="ion-no-margin ion-no-padding" lines="none">
        <p>Meals Today</p>

        <ion-buttons slot="end">
          <ion-button fill="clear" mode="ios" (click)="addMeal()">
            <ion-icon name="add-circle-outline" color="dark"></ion-icon>
            &nbsp; Add Meal
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-grid>
  </div>
</ion-content>
