.container {
  padding: 20px 20px;
}

ion-header ion-button {
  background-color: #f4f4f4;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

ion-header img {
  height: 20px;
  width: 20px;
}

ion-title {
  font-size: 14px;
  font-weight: 600;
}

// Header and date

#header {
  margin-bottom: 20px;
}

#header p {
  color: #4f84e8;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

#header h1 {
  font-size: 24px;
  font-weight: bold;
}

// BMI row and columns

.bmi ion-row {
  background-color: #f7f9fa;
  border-radius: 5px;
  margin-bottom: 40px;
}

.bmi ion-col {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  // border: 1px solid black;
}

.bmi ion-col#bmi-value {
  background-color: #4f84e8;
  border-radius: 5px 0 0 5px;
}

// BMI value section

.bmi #bmi-value h1 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bmi #bmi-message h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.bmi #bmi-message p {
  font-size: 14px;
  font-weight: 500;
}

// In progress section

#pb p {
  font-size: 14px;
  font-weight: 600;
}

#pb span {
  color: #acacac;
}

#pb ion-progress-bar {
  margin-top: 10px;

  --buffer-background: #f7f9fa;
  --progress-background: #ff986a;
}

// Calorie Summary section

ion-grid.sum {
  margin: 40px auto;
}

.sum p,
.meals p {
  font-size: 14px;
  font-weight: 600;
}

.sum ion-row {
  margin: 10px auto 0;
}

.sum ion-col {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}

ion-col#sum-eaten {
  background-color: #fff9f0;
}

ion-col#sum-burned {
  background-color: #f0faff;
}

.sum h1 {
  color: #ff986a;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sum span h1 {
  color: #4f84e8;
}

#sum-eaten p,
#sum-burned p {
  font-size: 14px;
  font-weight: 400;
}

// Meals section {

.meals ion-button {
  background: none;
  color: black;
  font-size: 12px;
  font-weight: 500;
  height: auto;
}

.meals ion-icon {
  height: 20px;
  width: 20px;
}
